<div>
    <div class="text-center">
        <p id="timer">29</p>
        <p id="code"></p>
        <%- include ('../partials/backLink.ejs') %>
        <svg id="timerCircle" viewBox="0 0 40 40" transform="rotate(-90 20 20) scale(1,-1)">
            <circle r="18" cx="20" cy="20" style="stroke-dasharray: 113; stroke-dashoffset: 113;" stroke="#000" fill="transparent" stroke-width="3"></circle>
        </svg>
        <svg id="backgroundCircle" viewBox="0 0 40 40" transform="rotate(-90 20 20)">
            <circle r="17" cx="20" cy="20" stroke="#000" fill="transparent" stroke-width="0.5"></circle>
        </svg>
    </div>
</div>

<style>
    #timer {
        font-size: 1.2rem;
        margin: 0;
        color: #000;
        z-index: 1;
    }

    #timerCircle {
        position: absolute;
        top: -40px;
        z-index: 0;
    }

    #backgroundCircle {
        position: absolute;
        top: -40px;
    }

    #timerCircle circle {
        transition: stroke-dashoffset 1s linear;
    }
</style>

<script>
    const codes = <%- JSON.stringify(locals.codes.otps) %>;
    let timer = <%- JSON.stringify(locals.codes.timeLeft) %>;
    let index = 0;

    const circle = document.querySelector('#timerCircle circle');
    const circumference = 2 * Math.PI * circle.getAttribute('r');

    circle.style.strokeDasharray = `${circumference} ${circumference}`;
    const initialOffset = timer / 30 * circumference;
    circle.style.strokeDashoffset = circumference - initialOffset;

    const updateCode = () => {
        document.querySelector('#code').innerText = codes[index];
        index = (index + 1) % codes.length;
    };

    const updateTimer = () => {
        document.querySelector('#timer').innerText = Math.floor(timer);
        const offset = timer / 30 * circumference;
        circle.style.strokeDashoffset = circumference - offset;
        timer--;
        if (timer < 0) {
            timer = 30;
            updateCode();
        }
    };

    document.getElementById('timer').innerText = Math.floor(timer);

    updateCode();
    setInterval(updateTimer, 1000);
</script>