<h1>Two Factor Authentication</h1>
<div><%- %></div>
<form action="/totp" method="post">
    <label for="totp">Enter TOTP</label>
    <input type="text" name="totp"></input>
    <button type="submit">Submit</button>
</form>